<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgQKffGaVuLB_JUQnXgyCX2LVpUx4wjJA</string>
	<key>GCM_SENDER_ID</key>
	<string>805933169613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geniuskids.storybooks</string>
	<key>PROJECT_ID</key>
	<string>genius-kids-story-books</string>
	<key>STORAGE_BUCKET</key>
	<string>genius-kids-story-books.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805933169613:ios:6051ed0e786580f20c6284</string>
</dict>
</plist>